In [6]:
import pandas as pd

d = {'Sport':['MLB/Baseball', 'NBA/Basketball', 'NHL/Hockey', 'Premier League/Soccer', 'NFL/Football'],
     'Total Games':[162, 82, 82, 38, 16], 'Home Games':[81, 41, 41, 19, 8]}
sports = pd.DataFrame(data=d)
sports

                   Sport  Total Games  Home Games
0           MLB/Baseball          162          81
1         NBA/Basketball           82          41
2             NHL/Hockey           82          41
3  Premier League/Soccer           38          19
4           NFL/Football           16           8